.white{
    background-color: white;
    width: 20px;
    height: 20px;
}
.black{
    background-color: black;
    width: 20px;
    height:20px;
}
table{
    border:solid 1px black;
    border-collapse: collapse;
}