*{
    margin: 0px;
    padding: 0px;
}
body{
    background: #0a2a43;
}
.header {
    width:100%;
    height:100px;
    background-color:rgb(56,107,140) ;
    }

.lheader{
    float:left;
    width:10%;
    height:60px;
    margin-left: 8px;
    margin-top: 8px;
    margin-bottom: 8px;


}
.rheader{
    float:right;
    width:87%;
}
.rheader ul li{
    display:inline-block;
    font-family: 'Montserrat', sans-serif;
    color: white;
	font-size: 25px;
    line-height: 100px;
	margin-left: 25px;
}
.navbar {
    overflow: hidden;
    background-color:rgb(245,255,208);
    font-family: 'Montserrat', sans-serif;
    height:70px;
    
  }
  .navbar a {
    float: left;
    font-size: 16px;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    margin-top: 15px;
    margin-left: 12px;
  }
  .navbar a:hover{
    background-color: rgb(84,91,98);
  }
 body1{
     margin-left: 100px;
 }
  .card{
    z-index: 5;
    background-color:#c6ffc1;
    height: 300px;
    width:200px;
    position: relative;
    display: inline-block;
    border-radius: 40px;
    box-shadow: 5px 5px 30px 7px rgba(0,0,0,0.25), -5px -5px 30px 7px rgba(0,0,0,0.22);
    cursor: pointer;
    transition: 0.4s;
    
  }
  p{
    position: relative;
    text-align: center;
    font-size: 26px;
  }
  .card:hover {
    transform: scale(0.9, 0.9);
    box-shadow: 5px 5px 30px 15px rgba(0,0,0,0.25),
      -5px -5px 30px 15px rgba(0,0,0,0.22);
  }
  .card1{
    position:relative;
    top:50px;
    left:120px;
  }
  .card img{
    height: 110px;
    width:110px;
    position: relative;
    left: 42px;
  }
  
  .card2 {
    position:relative;
    top:50px;
    left:320px;
  }
  .card3 {
    position: relative;
    top:50px;
    left:520px;
  }
  .card4 {
    position: relative;
    top:250px;
    right:290px;
  }
  .card5{
    position: relative;
    top:310px;
    right:90px;
  }